.sudokuBox table {
  border: 3px solid black;
  border-collapse: collapse;
}

.sudokuBox td {
  border: 1px dotted #3e3e3e;
  border-collapse: collapse;
}

.sudokuBox td.rt{
  border-right: 2px solid #3e3e3e;
}

.sudokuBox td.btm{
  border-bottom: 2px solid #3e3e3e;
}

.sudokuBox td.err{
  background-color: pink;
}

.sudokuBox td.prob{
  background-color: red;
}

.sudokuBox td.hintCause{
  background-color: lightblue;
}

.sudokuBox td.hintLine{
  background-color: grey;
}

.sudokuBox td.hintTarget{
  background-color: orange;
}

.sudokuBox table input {
  background-color: inherit;
  border: none;
  font-size: 19px;
  text-align: center;
  width: 40px;
  height: 40px;
  padding: 0;
}

.sudokuBox .cell{
  width: 40px;
  height: 40px;
}

.sudokuBox .marks{
  height: 100%;
  width: 100%;
  position: relative;
}

.sudokuBox .pencil{
  display: inline;
  position: absolute;
  font-size: 12px;
  cursor: pointer;
}

.sudokuBox .pencilInput{
  display: none;
}

.sudokuBox .pencil.one{
  top: 0%;
  left: 0%;
}

.sudokuBox .pencil.two{
  top: 0%;
  left: 33%;
}

.sudokuBox .pencil.three{
  top: 0%;
  left: 66%;
}

.sudokuBox .pencil.four{
  top: 33%;
  left: 0%;
}

.sudokuBox .pencil.five{
  top: 33%;
  left: 33%;
}

.sudokuBox .pencil.six{
  top: 33%;
  left: 66%;
}

.sudokuBox .pencil.seven{
  top: 66%;
  left: 0%;
}

.sudokuBox .pencil.eight{
  top: 66%;
  left: 33%;
}

.sudokuBox .pencil.nine{
  top: 66%;
  left: 66%;
}

